[Unit]
Description=Lore Seeker search engine
Documentation=https://github.com/EikePeace/lore-seeker
After=network.target

[Service]
Restart=always
ExecStartPre=/usr/bin/git fetch origin
ExecStartPre=/usr/bin/git reset --hard origin/lore-seeker
ExecStart=/usr/local/share/fenhl/lore-seeker/repo/bin/lore-seeker
ExecStop=/usr/local/share/fenhl/lore-seeker/repo/bin/lore-seeker stop
User=fenhl
Group=fenhl
WorkingDirectory=/usr/local/share/fenhl/lore-seeker/repo

[Install]
WantedBy=multi-user.target