[Unit]
Description=Lore Seeker search engine
Documentation=https://github.com/EikePeace/lore-seeker
After=network.target

[Service]
Restart=always
ExecStartPre=/usr/bin/git fetch origin
ExecStartPre=/usr/bin/git reset --hard origin/lore-seeker
ExecStart=/home/eike/git/lore-seeker/bin/lore-seeker
ExecStop=/home/eike/git/lore-seeker/bin/lore-seeker stop
WorkingDirectory=/home/eike/git/lore-seeker

[Install]
WantedBy=multi-user.target
