%h1 Downloads
%ul
  %li
    %a{href: "/downloads/bcb.zip"}
      Big Custom Box
    — All the files needed to play custom formats like
    = link_to "ECH", controller: "format", action: "show", id: "elder-cockatrice-highlander"
    or
    = link_to "Custom Standard", controller: "format", action: "show", id: "custom-standard"
    using <a href="https://cockatrice.github.io/">Cockatrice</a>.
