%p
  %em Canadian Highlander
  (sometimes abbreviated as <em>Canlander</em>)
  is an unofficial competitive non-rotating singleton Constructed format invented in Victoria, BC and popularized by local Twitch streamers <a href="https://twitch.tv/loadingreadyrun">LoadingReadyRun</a>.
  It uses 100-card decks without commanders and without sideboards.

%p
  Canadian Highlander's most distinctive feature is the points list, which allows the restriction of powerful cards in a singleton format without resorting to power-level bans. A deck can have up to 10 points. Lore Seeker automatically updates to the newest points list at least once per week.

%p
  %a{href: "https://canadianhighlander.wordpress.com/"} Official website

%p
  = search_help "restricted:canlander", "All cards on the points list"
