%p
  %em Elder XMage Highlander (EXH)
  is a variant of <a href="elder-cockatrice-highlander">Elder Cockatrice Highlander</a> that's played on <a href="http://xmage.de/">XMage</a> instead of Cockatrice. Because of this, only cards that have been implemented on XMage are legal.

%p
  If you want to see an ECH-legal card get implemented in XMage, click on the “X votes” in the card page's legality section to vote for it. This lets the EXH devs know what cards players want the most.

%p
  Servers to play on coming soon™.

%ul
  = search_help "f:exh is:commander sort:ci", "Cards legal as commander, sorted by color identity"
  = search_help "f:exh", "All cards legal in the format"
