%p
  %em Freeform
  is a format with absolutely no restrictions. It can be used with the <a href="/deck/visualize">deck visualizer</a> if no legality check should be performed, for example when visualizing a Limited deck.
